@if(User.IsInRole("Admin")){
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Category" asp-action="Index">Category</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Index">Product</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="OrderAdmin" asp-action="Index">Orders</a>
    </li>
}